* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ccc;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.menu, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    height: 58px;
}

.menu li {
    background: linear-gradient(#292929, #252525);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#252525');
    border-bottom: 2px solid #181818;
    border-top: 2px solid #303030;
    min-width: 160px;
}

.menu > li {
    display: block;
    float: left;
    position: relative;
}

.menu > li:first-child {
    border-radius: 5px 0 0;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #808080;
    display: block;
    font-family: 'Lucida Console';
    font-size: 18px;
    line-height: 54px;
    padding: 0 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:hover {
    background-color: #1c1c1c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    background: linear-gradient(#1c1c1c, #1b1b1b);
    border-bottom: 2px solid #222;
    border-top: 2px solid #1b1b1b;
}

.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}

.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    perspective: 400px;
}

.submenu li {
    opacity: 0;
    transform: rotateY(90deg);
    transition: opacity .4s, transform .5s;
}

.menu .submenu li:hover a{
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #fff;
}

.menu > li:hover .submenu,
.menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}

.menu > li:hover .submenu li,
.menu > li:focus .submenu li {
    opacity: 1;
    transform: none;
}

.menu li:hover .submenu li:nth-child(1) {
    transition-delay: 0s;
}

.menu li:hover .submenu li:nth-child(2) {
    transition-delay: 50ms;
}

.menu li:hover .submenu li:nth-child(3) {
    transition-delay: 100ms;
}

.menu li:hover .submenu li:nth-child(4) {
    transition-delay: 150ms;
}

.menu li:hover .submenu li:nth-child(5) {
    transition-delay: 200ms;
}

.menu li:hover .submenu li:nth-child(6) {
    transition-delay: 250ms;
}

.menu li:hover .submenu li:nth-child(7) {
    transition-delay: 300ms;
}

.menu li:hover .submenu li:nth-child(8) {
    transition-delay: 350ms;
}

.menu li:nth-child(1) {
    transition-delay: 350ms;
}

.menu li:nth-child(2) {
    transition-delay: 300ms;
}

.menu li:nth-child(3) {
    transition-delay: 250ms;
}

.menu li:nth-child(4) {
    transition-delay: 200ms;
}

.menu li:nth-child(5) {
    transition-delay: 150ms;
}

.menu li:nth-child(6) {
    transition-delay: 100ms;
}

.menu li:nth-child(7) {
    transition-delay: 50ms;
}

.menu li:nth-child(8) {
    transition-delay: 0s;
}