body, div, dl, dt, dd {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#wrap {
    position: relative;
    height: auto;
    width: 350px;
    background: #FFF;
    border: 12px solid #EEE;
    border-radius: 10px;
    margin: 10px auto 0;
    padding: 5px 5px 4px;
}

#wrap dl {
    color: #FFF;
    overflow: hidden;
    background: #7CF;
}

#wrap dt, #wrap dd {
    padding-left: 15px;
    border-bottom: 1px solid #FFF;
}

#wrap dt {
    cursor: pointer;
    font-size: 14px;
    background: #9C0;
    line-height: 30px;
    font: 700 14px/30px Tahoma;
}

#wrap dt.current {
    background: #09F;
}

#wrap dd {
    background: #7CF;
    line-height: 25px;
    font: 12px/25px Tahoma;
}

a span {
    color: #CD3333;
}

#homepage {
    color: #CD3333;
    text-decoration: none;
}
