* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, img {
    border: 0;
}

body {
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
    background: #eee;
}

a {
    outline: none;
}

a:link {
    color: #434343;
    text-decoration: none;
}

a:visited {
    color: #838383;
    text-decoration: none;
}

a:hover {
    color: #c00;
    text-decoration: none;
}

/*wrap-nav*/
#wrap-nav,
#wrap-nav li,
#wrap-nav h3,
#wrap-nav h3 a {
    background: url("images/sprite.gif") no-repeat scroll left -9999px;
}

#wrap-nav {
    height: 40px;
    line-height: 40px;
    background-repeat: repeat-x;
    background-position: 0 0;
    background-color: #c00;
    width: 960px;
    margin: 40px auto 0 auto;
}

#wrap-nav ul.menu li {
    position: relative;
    float: left;
    padding: 0 5px;
    background-position: 0 -40px;
}

#wrap-nav ul.menu li h3 {
    padding: 0 15px 0 0;
    font-size: 1.2em;
}

#wrap-nav ul.menu li h3 a.depth_1 {
    padding: 0 0 0 15px;
    display: inline-block;
    color: #fff;
}

#wrap-nav ul.menu li h3.hover,
#wrap-nav ul.menu li h3.selected {
    background-position: right -80px;
}

#wrap-nav ul.menu li h3.hover a.depth_1,
#wrap-nav ul.menu li h3.selected a.depth_1 {
    background-position: left -80px;
    color: #c00;
}

#wrap-nav ul.menu li.hover h3 {
    background-position: right -120px;
}

#wrap-nav ul.menu li.hover h3 a.depth_1 {
    background-position: left -120px;
    color: #c00;
}

#wrap-nav ul.menu li ul.children {
    position: absolute;
    left: 2px;
    top: 40px;
    z-index: 19;
    display: none;
    width: 393px;
    padding: 6px 7px 5px 6px;
    border: 3px solid #900;
    border-top: 0;
    background: #fff;
}

#wrap-nav ul.menu li ul.children li {
    width: 393px;
    padding: 0 0 1px 0;
    background: none;
}

#wrap-nav ul.menu li ul.children li h3 a.depth_2 {
    width: 120px;
    line-height: 25px;
    display: block;
    font-weight: normal;
    font-size: 9pt;
    color: #900;
}

#wrap-nav ul.menu li ul.children li h3 a.depth_2 span.icon10 {
    margin: 10px 3px 0 5px;
    background-position: -60px -380px;
}

#wrap-nav ul.menu li ul.children li h3.selected {
    background: #ffefef;
}

#wrap-nav ul.menu li ul.children li.hover {
    z-index: 20;
}

#wrap-nav ul.menu li ul.children li.hover h3 a.depth_2 {
    background: #ffcfcf;
    font-weight: bold;
}

#wrap-nav ul.menu li ul.children li.hover ul {
    background: #ffefef;
    border-color: #ffbfbf;
    height: auto;
    z-index: 20;
}

#wrap-nav ul.menu li ul.children li.hover ul li a.depth_3 {
    color: #333;
}

#wrap-nav ul.menu li ul.children li.hover ul a.depth_3:hover {
    color: #900;
}

#wrap-nav ul.menu li ul.children ul {
    position: absolute;
    top: 0;
    left: 120px;
    padding: 0 0 0 10px;
    width: 263px;
    height: 25px;
    overflow: hidden;
    background: #F4F8F9;
    border-left: 2px solid #D8E2EC;
}

#wrap-nav ul.menu li ul.children ul li {
    width: auto;
    padding: 0;
    float: left;
}

#wrap-nav ul.menu li ul.children ul li a.depth_3 {
    margin: 0 15px 0 0;
    line-height: 25px;
    display: block;
    color: #666;
    white-space: nowrap;
}

#wrap-nav ul.menu li ul.children ul li a.depth_3:hover {
    text-decoration: underline;
}

#wrap-nav ul.menu li ul.children ul li a.selected {
    background: none;
    color: #900;
}

