* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", sans-serif;
    font-size: 14px;
}

body {
    user-select: none;
}

.loginBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
    z-index: 9999;
}

#comment .fa {
    margin-left: 5px;
    color: #999;
}

#comment .fa-file-o {
    margin-right: 5px;
}

#comment .loginBox .box {
    width: 300px;
    height: 300px;
    padding: 40px 20px 20px;
    margin: 100px auto;
    background: #fff;
}

#comment .loginBox .box h3 {
    font-size: 16px;
    text-align: center;
}

#comment .loginBox .box input {
    width: 100%;
    height: 40px;
    border: 1px solid red;
    margin: 10px 0;
    border-radius: 3px;
}

#comment .loginBox .box input[type=button] {
    background: red;
    color: #fff;
}

.box input[placeholder] {
    text-indent: 8px;
}

#comment .loginBox .box .blueBtn {
    background: #0089FF !important;
    border: 1px solid #0089FF !important;
}

#comment .userBar {
    height: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 100%;
}

#comment .userBar .userImg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#comment .userBar .username {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bolder;
}

#comment .commentBox {
    position: relative;
    width: 600px;
    top: 40px;
    padding: 20px 20px 30px;
    background: #eee;
    margin: 0 auto;
}

#comment .commentBox .loginOut {
    display: block;
    text-decoration: none;
    color: #00f;
    cursor: pointer;
    padding-top: 8px;
    margin-left: 10px;
}

#comment .commentBox .userWord {
    outline: none;
}

#comment .commentList {
    padding: 10px;
}

#comment .commentList dl {
    padding: 20px 0;
    border-bottom: 1px solid #D2D2D2;
}

#comment .commentList dl dt {
    float: left;
    text-align: center;
    margin-right: 15px;
}

#comment .commentList dl dt img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#comment .commentList dl dd {
    padding-bottom: 10px;
}

#comment .commentList .btBar span {
    margin-right: 15px;
}

#comment .commentList .btBar .red strong {
    color: red;
    font-weight: normal;
    margin: 0 3px;
    cursor: pointer;
}

#comment .commentList .username {
    display: block;
    text-align: center;
}

.wordsBox textarea {
    width: 100%;
    height: 100px;
    margin: 20px 0 10px;
    resize: none;
}

.wordsBox textarea[placeholder] {
    text-indent: 8px;
    padding-top: 5px;
}

.wordsBox span, .wordsBox input {
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.wordsBox span {
    background: #00f;
    margin-right: 15px;
    padding: 5px 8px;
}

.wordsBox span:hover {
    background: #f00;
}

.wordsBox input {
    background: red;
    float: right;
    width: 80px;
}